{% extends 'base.html' %}

{% block content %}
<h2>Brands</h2>
<a href="#" class="btn btn-primary mb-2">Add New Brand</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for brand in brands %}
        <tr>
            <td>{{ brand.id }}</td>
            <td>{{ brand.name }}</td>
            <td>{{ brand.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
