{% extends 'base.html' %}
{% block title %}Categories{% endblock %}

{% block content %}
<h1>Categories</h1>
<a href="/add_category"><button>Add New Category</button></a>
<table>
    <tr>
        <th>ID</th><th>Name</th><th>Actions</th>
    </tr>
    {% for category in categories %}
    <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td><a href="/edit_category/{{ category.id }}"><button>Edit</button></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
