{% extends 'base.html' %}
{% block title %}Customers{% endblock %}

{% block content %}
<h1>Customer List</h1>
<a href="{{ url_for('add_customer') }}"><button>Add Customer</button></a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{ customer[0] }}</td>
        <td>{{ customer[1] }}</td>
        <td>{{ customer[2] }}</td>
        <td>{{ customer[3] }}</td>
        <td>{{ customer[4] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
