{% extends 'base.html' %}
{% block title %}Payments{% endblock %}

{% block content %}
<h1>Payments</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Customer ID</th>
        <th>Amount</th>
        <th>Payment Date</th>
    </tr>
    {% for payment in payments %}
    <tr>
        <td>{{ payment.id }}</td>
        <td>{{ payment.customer_id }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.payment_date }}</td>
    </tr>
    {% endfor %}
</table>
<a href="/"><button>Back to Home</button></a>
{% endblock %}
