{% extends 'base.html' %}
{% block title %}Customers{% endblock %}

{% block content %}
<h1>Customers</h1>
<a href="/add_customer"><button>Add New Customer</button></a>
<table>
    <tr>
        <th>ID</th><th>Name</th><th>Email</th><th>Phone</th><th>Actions</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phone }}</td>
        <td><a href="/edit_customer/{{ customer.id }}"><button>Edit</button></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
